body {
    background-color: rgb(7, 10, 55);
}


/*---------------------------------------- BARRA ---------------------------------------------------*/

#main,
.btn {
    position: absolute;
    top: 0;
    right: 0;
    transition: margin-left .5s;
}

.navbar h1 {
    text-align: center;
    color: white;
    font-size: 21px;
    text-transform: uppercase;
}

.sidebar {
    height: 100%;
    width: 0;
    /* width - lo cambiamos con JavaScript */
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    /* sale por derecha*/
    background-color: #111;
    overflow-x: hidden;
    padding-top: 7%;
    transition: 0.5s;
}

.sidebar a {
    padding: 3% 3% 3% 5%;
    text-decoration: none;
    font-size: 100%;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 10px;
    border-radius: 5px 5px;
}

.btn:hover {
    background-color: #444;
}

.sidebar .btn:hover {
    background-color: #444;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}


/*--------------------------------------- ENCABEZADO ----------------------------------------------------*/

.foto_Fondo {
    background-image: url('images/Ciudad 2.jpg');
    background-size: 100%;
    background-position: 50% 20%;
    display: flex;
    justify-content: space-between;
}

#cara {
    clip-path: circle(45% at center);
    position: relative;
    left: 1%;
    width: 20vw;
    height: 20vw;
}

.titulo {
    position: absolute;
    right: 20%;
    font-size: 3vw;
    color: white;
    font-family: "Arial Black", Helvetica, sans-serif;
}

#nombre {
    padding-top: 3%;
    Left: 25%;
}

#subtitulo {
    padding-top: 8%;
    left: 25%;
}

.industria {
    position: absolute;
    width: 8vw;
    height: 8vw;
    right: 0%;
    padding-top: 0%;
    font-size: 6vw;
    color: white;
}


/*------------------------------------------GENERALES de TEXTO ---------------------------------------------------------*/

h3 {
    text-align: justify;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 2vw;
}

p {
    text-align: justify;
    font-size: 1.5vw;
}

.datos p,
.datos a {
    font-size: 1.3vw;
}

.far,
.fas,
.fab {
    font-size: 1.3vw;
}

ul {
    font-size: 1.5vw;
}

li {
    font-size: 1.2vw;
}

i {
    font-size: 1.5vw;
}


/*ver q onda esto y sumarlo al otro*/

.der {
    font-size: 1.5vw;
}


/*---------------------------------------------- CONTENEDOR BODY ---------------------------------------------------------------*/

.contenedor {
    margin: 2%;
    box-sizing: border-box;
    float: left;
}

@media screen and (max-width: 600px) {
    .body,
    .body2 {
        float: none;
    }
}


/*-------------------------------------------------- MARCO IZQ ---------------------------------------------------------------*/

.body {
    float: left;
    width: 20%;
    margin-left: 0%;
    padding: 3%;
    border-radius: 10px 10px;
    background-color: white;
    box-shadow: 5px 5px rgb(11, 90, 180);
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
    /*
    border: 40px solid transparent;
    border-image: url(images/Madera.png) 20% stretch;
    border-image-slice: 33% fill; */
}


/*----------------------------------------------- MARCO Derecha -----------------------------------------------------------------*/

.body2 {
    float: right;
    width: 65%;
    margin-left: 1%;
    padding: 3%;
    border-radius: 10px 10px;
    background-color: rgb(239, 239, 239);
    box-shadow: 5px 5px rgb(11, 90, 180);
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
}


/*------------------------------------CONTENIDO DENTRO DEL MARCO derecho --------------------------------------------*/

.subcont {
    box-sizing: border-box;
    text-align: justify;
}

.izq {
    float: left;
    width: 65%;
}

.der {
    float: right;
    padding: 5%;
    margin-top: 5%;
    width: auto;
    background-color: grey;
    border-radius: 10px 10px;
}